In [1]:
# load data from urls
import pandas as pd
population_url = 'https://www2.census.gov/programs-surveys/popest/tables/2010-2019/cities/totals/SUB-IP-EST2019-ANNRNK.xlsx'
rent_url = 'https://files.zillowstatic.com/research/public_v2/zori/Metro_ZORI_AllHomesPlusMultifamily_SSA.csv'
rent = pd.read_csv(rent_url)
population = pd.read_excel(population_url, skiprows=3, skipfooter=5)
# clean up the column names
population = population.rename(columns={'Unnamed: 0': 'Rank', 'Unnamed: 1': 'City'})
population = population.drop(columns=['Census', 'Estimates Base'])

In [2]:
population.head()

   Rank                          City     2010  ...     2017     2018     2019
0     1       New York city, New York  8190209  ...  8437478  8390081  8336817
1     2  Los Angeles city, California  3795512  ...  3975788  3977596  3979576
2     3        Chicago city, Illinois  2697477  ...  2711069  2701423  2693976
3     4           Houston city, Texas  2100280  ...  2316750  2318573  2320268
4     5         Phoenix city, Arizona  1449038  ...  1633560  1654675  1680992

[5 rows x 12 columns]

In [3]:
# function to parse the city column into city and state columns
def get_state_name(city):
  state = city.split(',')[1]
  state = state.strip()
  return state

def get_city_name(city):
  name = city.split(',')[0]
  name = name.split()
  result = name[0]
  for word in name[1:]:
    if word[0].isupper():
      result += ' '
      result += word
  return result

In [4]:
population['State'] = population['City'].apply(get_state_name)
population['City_Name'] = population['City'].apply(get_city_name)

In [5]:
# quick look at the rent df
rent = rent.drop(columns=['RegionID', 'SizeRank'])
rent = rent.drop(index=0)
print(rent.shape)
rent.head()

(101, 85)

                           RegionName  2014-01  ...  2020-11  2020-12
1                        New York, NY   2375.0  ...     2607   2584.0
2  Los Angeles-Long Beach-Anaheim, CA   1838.0  ...     2564   2562.0
3                         Chicago, IL   1514.0  ...     1742   1738.0
4               Dallas-Fort Worth, TX   1209.0  ...     1591   1593.0
5                    Philadelphia, PA   1340.0  ...     1619   1621.0

[5 rows x 85 columns]

In [6]:
# fix a few mis-named cities
rent.at[2, 'RegionName'] = 'Los Angeles, CA'
rent.at[4, 'RegionName'] = 'Dallas, TX'
rent.at[8, 'RegionName'] = 'Miami, FL'
rent.at[16, 'RegionName'] = 'Minneapolis, MN'
rent.at[42, 'RegionName'] = 'Louisville/Jefferson County, KY'

In [7]:
# parse city into city and state columns
rent['City_Name'] = rent['RegionName'].apply(get_city_name)
rent['State'] = rent['RegionName'].apply(get_state_name)

In [8]:
# the two dataframes
df = pd.merge(population, rent, on='City_Name')
df = df.drop(columns=['City', 'State_y'])
df = df.rename({'State_x': 'State'}, axis=1)

In [9]:
# rearange columns to look nicer
columns = list(df.columns)
columns.insert(1, columns[11])
columns.insert(1, columns[13])
columns.insert(3, columns[15])
columns.pop(14)
columns.pop(14)
columns.pop(14)

'RegionName'

In [10]:
df = df[columns]
# separate columns to prepare them for ml models
population_columns = columns[4:14]
rent_columns = columns[14:]
df = df.reset_index()
df.head()

   index  Rank    City_Name       State  ... 2020-09  2020-10  2020-11  2020-12
0      0     1     New York    New York  ...    2651     2630     2607   2584.0
1      1     2  Los Angeles  California  ...    2568     2566     2564   2562.0
2      2     3      Chicago    Illinois  ...    1750     1746     1742   1738.0
3      3     4      Houston       Texas  ...    1488     1488     1488   1488.0
4      4     5      Phoenix     Arizona  ...    1523     1531     1540   1549.0

[5 rows x 99 columns]

In [11]:
# create funtion that will predict rent prices for the next three months
from fbprophet import Prophet
def project_rent(index):
    '''
    Creates a DataFrame (time_df) that is required by fbprohet model 
    to predict time series data.
    Returns the projected rent prices for the next three months (Jan, Feb, Mar 2021).
    '''
    # create df that fbprophet requires
    time_df = pd.DataFrame(df.loc[index, rent_columns]).reset_index()
    time_df['index'] = pd.to_datetime(time_df['index'], infer_datetime_format=True)
    time_df.columns = ['ds', 'y']
    # train the model
    projection = Prophet()
    projection.fit(time_df)
    future = projection.make_future_dataframe(periods=3, freq='MS')
    y_pred = projection.predict(future)
    return y_pred['trend'][-3:].values

In [12]:
# makes empty columns for rent projections
df['Jan Proj Rent'] = [0] * len(df)
df['Feb Proj Rent'] = [0] * len(df)
df['Mar Proj Rent'] = [0] * len(df)

In [ ]:
# train the model for all the cities
for city in df.index:
    df.loc[city, ['Jan Proj Rent', 'Feb Proj Rent', 'Mar Proj Rent']] = project_rent(city)

In [20]:
rent_columns[-3:]

['2020-10', '2020-11', '2020-12']

In [22]:
# slim down the dataframe into the needed columns for the API
result = df.drop(columns=['index', 'Rank'] + population_columns[:-1] + rent_columns[:-1])
result = result.rename({'City_Name': 'City', 2019: '2019-Population', '2020-12': 'Dec Avg Rent'}, axis=1)
print(result.shape)
result.head()

(114, 8)

          City       State  ... Feb Proj Rent  Mar Proj Rent
0     New York    New York  ...   2610.641187    2600.205387
1  Los Angeles  California  ...   2572.932151    2573.208136
2      Chicago    Illinois  ...   1745.352912    1743.778217
3      Houston       Texas  ...   1488.941250    1489.054122
4      Phoenix     Arizona  ...   1561.939811    1569.270955

[5 rows x 8 columns]

In [ ]:
# save the two different tables to a csv to be uploaded into the database
result[['City', 'State', 'RegionName', '2019-Population']].to_csv('cityspire_population.csv', index=False)
result[['City', 'State', 'RegionName', 'Dec Avg Rent', 'Jan Proj Rent', 'Feb Proj Rent', 'Mar Proj Rent']].to_csv('cityspire_rent.csv', index=False)